body{
	font-size: 15px;
	background-color: #fefefe;
}
.pink{
	color: #D9CECE;
}
.blue{
	color: #CDD2D6;
}
 a:visited.pink,
 a:hover.pink{
 	color: pink;
 }
 a:hover.blue,
 a:visited.blue{
 	color: blue;
 }
.border{
	border: 2px solid gray;
}

.rightF{
	float: right;
}

#nav{
	max-height: 150px;
	height: 13%;
	
	min-height: 60px;
}

	img.logo{
	
		
		height: auto;
		position: relative;
		right: 70px;
		bottom: 30px;
	}
#meat{
	height: 65%;
	margin-bottom: 80px;
}
 .active{
 	height: 70%;
 }
 .center{
 	text-align: center;
 }
 #full{
 	min-height: 300px;
 }
#foot{
	background-color: #fefefe;
	height: 5%;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

.ui.icon.button.mGen{
	display: none;
	margin-top: 25px;

}

.mobileTitle{
	height: 100%;
	max-height: 70px;
}

/*
var backgrounds = ['#824E4E', '#4A5F70', '#7F825F' ];//D33762
var backgrounds0 = ['#D9CECE', '#CDD2D6', '#DADAD2' ];
var backgrounds1 = ['#A48786','#85919B','#A7A791'];*/

#love{
background-color: #D9CECE;
}
	.row.mobileTitle.l{
		background-color:#824E4E;
	}
	.row.compTitle.l{
		background-color:#824E4E;
	}
		.borderl{
			border: 4px solid #A48786;
		}

#wisdom{
background-color: #CDD2D6;
}
	.row.mobileTitle.w{
		background-color:#4A5F70;
	}
	.row.compTitle.w{
		background-color:#4A5F70;
	}
		.borderw{
			border: 4px solid #85919B;
		}

#passion{
background-color: #DADAD2;
}
	.row.compTitle.p{
		background-color:#7F825F;
	}
	.row.mobileTitle.p{
		background-color:#7F825F;
	}
		.borderp{

			border: 4px solid #A7A791;
		}


	.borderp,.borderl,.borderw{
		z-index: 11;
	}
.sTitle{

	height: 70px;
	width: auto;
}

.bottom{
	position: relative;
	bottom: 0px;
}
#carousel{
	position: relative;
	top: 40px;
	height: 370px;
	
}
#carousel img{
	width: 95%;
	margin-left: 2.5%;
	height: auto;
}

#rArrow,
#lArrow{
	margin-top: 35px;
	background-color: black;
	opacity: 0.5;
	color: #fefefe;
	z-index: 9;
}
#rArrow{
	margin-right: 50px;
}
#lArrow{
	margin-left: 50px;
}

#gallery{
	position: relative;
	bottom: 70px;
}

.ui.button.gen,
.ui.button.main{
	display: none;
	margin-top: 20px;
	background-color: #fefefe;
	font-size: 15px;
}

@media only screen and (min-width:500px){
	img.logo{
	
		right: 30px;
		bottom: 30px;
	}
}
@media only screen and (min-width: 990px) and (max-width: 1200px){
	#box{
		position: relative;
		bottom: 85px;
	}
	.ui.button.gen,
	.ui.button.main{
	
	font-size: 12px;
}

}

@media only screen and (min-width: 770px) and (max-width: 990px){
	
	#love,#wisdom,#passion{
		position: relative;
		bottom: 120px;
	}
	#lArrow,#rArrow{
		position: relative;
		bottom: 50px;
	}

}





/*NO-NEED TO DISPLAY YET*/



